USE [master]
GO
/****** Object:  Database [AtlasDB]    Script Date: 11/06/2016 13:35:49 ******/
CREATE DATABASE [AtlasDB] ON  PRIMARY 
( NAME = N'AtlasDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AtlasDB.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AtlasDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AtlasDB_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AtlasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AtlasDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABActionConfig]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABActionConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ID_GAME_FK] [int] NOT NULL,
	[LevelUpCostRate] [int] NULL,
	[LevelUpGenerateRate] [int] NULL,
	[Type] [int] NOT NULL,
	[ID_GAMEOBJECT] [int] NOT NULL,
 CONSTRAINT [PK_TABActionConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABActionConfigDepends]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABActionConfigDepends](
	[ID_ACTIONCONFIG] [int] NOT NULL,
	[ID_GAMEOBJECT] [int] NOT NULL,
	[ID_ATTRIBUTE] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_TABActionConfigDepends] PRIMARY KEY CLUSTERED 
(
	[ID_ACTIONCONFIG] ASC,
	[ID_GAMEOBJECT] ASC,
	[ID_ATTRIBUTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABAdmin]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABAdmin](
	[ID] [nvarchar](128) NOT NULL,
	[Nick] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Picture] [varchar](50) NULL,
 CONSTRAINT [PK_TABAdmin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABAttackConfig]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABAttackConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PercentLoss] [int] NOT NULL,
	[PercentGain] [int] NOT NULL,
	[MaxPlayers] [int] NULL,
	[ID_GAME_FK] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_TABAttackConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABAttackGameObject]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABAttackGameObject](
	[ID_ATTACKCONFIG_FK] [int] NOT NULL,
	[ID_GAMEOBJECT_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABAttackGameObject] PRIMARY KEY CLUSTERED 
(
	[ID_ATTACKCONFIG_FK] ASC,
	[ID_GAMEOBJECT_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABAttribute]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABAttribute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Value] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[ID_GAMEOBJECT_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABAttribute] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABCategory]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABCategory](
	[Name] [varchar](50) NOT NULL,
	[ToolTip] [varchar](max) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GAME_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABCategory_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABCost]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABCost](
	[Quantity] [int] NOT NULL,
	[ID_RESOURCE_FK] [int] NOT NULL,
	[ID_GAMEOBJECT_FK] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TABCost] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABEvent]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABEvent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[expiration] [datetime2](7) NULL,
	[ID_NOTIFICATION_FK] [int] NULL,
 CONSTRAINT [PK_TABEvent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABGame]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABGame](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Dominio] [varchar](max) NOT NULL,
	[CSS] [varchar](max) NULL,
	[Estado] [varchar](50) NOT NULL,
	[Logo] [varchar](50) NULL,
	[FacebookAppID] [varchar](50) NULL,
	[FacebookAuth] [tinyint] NULL,
	[FacebookAppSecret] [varchar](50) NULL,
	[GoogleClientID] [varchar](50) NULL,
	[GoogleClientSecret] [varchar](50) NULL,
	[ID_ADMIN_FK] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_TABGame] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABGameObject]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABGameObject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ID_CATEGORY_FK] [int] NOT NULL,
	[Image] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_GameObject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABGenerate]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABGenerate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Time] [int] NOT NULL,
	[ID_RESOURCE_FK] [int] NOT NULL,
	[ID_GAME_OBJECT_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABGenerate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABGroup]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ID_GAME_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABGroupMessage]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABGroupMessage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAYER_FK] [nvarchar](128) NOT NULL,
	[ID_GROUP_FK] [int] NOT NULL,
	[Text] [nvarchar](255) NOT NULL,
	[Date] [timestamp] NOT NULL,
 CONSTRAINT [PK_TABGroupMessage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABGroupPlayer]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABGroupPlayer](
	[ID_PLAYER_FK] [nvarchar](128) NOT NULL,
	[ID_GROUP_FK] [int] NOT NULL,
	[Admin] [tinyint] NOT NULL,
 CONSTRAINT [PK_TABPlayerGroup] PRIMARY KEY CLUSTERED 
(
	[ID_PLAYER_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABHoldGameObject]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABHoldGameObject](
	[ID_EVENT_FK] [int] NOT NULL,
	[ID_GAMEOBJECT_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABHoldGameObject] PRIMARY KEY CLUSTERED 
(
	[ID_EVENT_FK] ASC,
	[ID_GAMEOBJECT_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABInitialGameObject]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABInitialGameObject](
	[ID_GAMEOBJECT_FK] [int] NOT NULL,
	[ID_GAME_FK] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_TABInitialGameObject] PRIMARY KEY CLUSTERED 
(
	[ID_GAMEOBJECT_FK] ASC,
	[ID_GAME_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABInitialResource]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABInitialResource](
	[ID_RESOURCE_FK] [int] NOT NULL,
	[ID_GAME_FK] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_TABInitialResource] PRIMARY KEY CLUSTERED 
(
	[ID_RESOURCE_FK] ASC,
	[ID_GAME_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABNotification]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABNotification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[ID_PLAYER_FK] [nvarchar](128) NOT NULL,
	[hasRead] [bit] NOT NULL,
 CONSTRAINT [PK_TABNotification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABPlayer]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABPlayer](
	[ID] [nvarchar](128) NOT NULL,
	[Nick] [varchar](50) NOT NULL,
	[Pass] [nvarchar](max) NULL,
	[Email] [varchar](50) NOT NULL,
	[Picture] [varchar](50) NULL,
	[TokenFacebook] [varchar](max) NULL,
	[TokenGoogle] [varchar](max) NULL,
	[ID_GAME_FK] [int] NULL,
 CONSTRAINT [PK_TABPlayer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABResource]    Script Date: 11/06/2016 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABResource](
	[Name] [varchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[ID_GAME_FK] [int] NOT NULL,
 CONSTRAINT [PK_TABResource_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/06/2016 13:35:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/06/2016 13:35:49 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/06/2016 13:35:49 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/06/2016 13:35:49 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/06/2016 13:35:49 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/06/2016 13:35:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TABGroup]    Script Date: 11/06/2016 13:35:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TABGroup] ON [dbo].[TABGroup]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TABActionConfig]  WITH CHECK ADD  CONSTRAINT [FK_TABActionConfig_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABActionConfig] CHECK CONSTRAINT [FK_TABActionConfig_TABGame]
GO
ALTER TABLE [dbo].[TABActionConfig]  WITH CHECK ADD  CONSTRAINT [FK_TABActionConfig_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABActionConfig] CHECK CONSTRAINT [FK_TABActionConfig_TABGameObject]
GO
ALTER TABLE [dbo].[TABActionConfigDepends]  WITH CHECK ADD  CONSTRAINT [FK_TABActionConfigDepends_TABActionConfig] FOREIGN KEY([ID_ACTIONCONFIG])
REFERENCES [dbo].[TABActionConfig] ([ID])
GO
ALTER TABLE [dbo].[TABActionConfigDepends] CHECK CONSTRAINT [FK_TABActionConfigDepends_TABActionConfig]
GO
ALTER TABLE [dbo].[TABActionConfigDepends]  WITH CHECK ADD  CONSTRAINT [FK_TABActionConfigDepends_TABAttribute] FOREIGN KEY([ID_ATTRIBUTE])
REFERENCES [dbo].[TABAttribute] ([ID])
GO
ALTER TABLE [dbo].[TABActionConfigDepends] CHECK CONSTRAINT [FK_TABActionConfigDepends_TABAttribute]
GO
ALTER TABLE [dbo].[TABActionConfigDepends]  WITH CHECK ADD  CONSTRAINT [FK_TABActionConfigDepends_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABActionConfigDepends] CHECK CONSTRAINT [FK_TABActionConfigDepends_TABGameObject]
GO
ALTER TABLE [dbo].[TABAdmin]  WITH CHECK ADD  CONSTRAINT [FK_TABAdmin_AspNetUsers] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TABAdmin] CHECK CONSTRAINT [FK_TABAdmin_AspNetUsers]
GO
ALTER TABLE [dbo].[TABAttackConfig]  WITH CHECK ADD  CONSTRAINT [FK_TABAttackConfig_TABGame1] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABAttackConfig] CHECK CONSTRAINT [FK_TABAttackConfig_TABGame1]
GO
ALTER TABLE [dbo].[TABAttackGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABAttackGameObject_TABAttackConfig] FOREIGN KEY([ID_ATTACKCONFIG_FK])
REFERENCES [dbo].[TABAttackConfig] ([ID])
GO
ALTER TABLE [dbo].[TABAttackGameObject] CHECK CONSTRAINT [FK_TABAttackGameObject_TABAttackConfig]
GO
ALTER TABLE [dbo].[TABAttackGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABAttackGameObject_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT_FK])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABAttackGameObject] CHECK CONSTRAINT [FK_TABAttackGameObject_TABGameObject]
GO
ALTER TABLE [dbo].[TABAttribute]  WITH CHECK ADD  CONSTRAINT [FK_TABAttribute_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT_FK])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABAttribute] CHECK CONSTRAINT [FK_TABAttribute_TABGameObject]
GO
ALTER TABLE [dbo].[TABCategory]  WITH CHECK ADD  CONSTRAINT [FK_TABCategory_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABCategory] CHECK CONSTRAINT [FK_TABCategory_TABGame]
GO
ALTER TABLE [dbo].[TABCost]  WITH CHECK ADD  CONSTRAINT [FK_TABCost_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT_FK])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABCost] CHECK CONSTRAINT [FK_TABCost_TABGameObject]
GO
ALTER TABLE [dbo].[TABCost]  WITH CHECK ADD  CONSTRAINT [FK_TABCost_TABResource] FOREIGN KEY([ID_RESOURCE_FK])
REFERENCES [dbo].[TABResource] ([ID])
GO
ALTER TABLE [dbo].[TABCost] CHECK CONSTRAINT [FK_TABCost_TABResource]
GO
ALTER TABLE [dbo].[TABEvent]  WITH CHECK ADD  CONSTRAINT [FK_TABEvent_TABNotification1] FOREIGN KEY([ID_NOTIFICATION_FK])
REFERENCES [dbo].[TABNotification] ([ID])
GO
ALTER TABLE [dbo].[TABEvent] CHECK CONSTRAINT [FK_TABEvent_TABNotification1]
GO
ALTER TABLE [dbo].[TABGame]  WITH CHECK ADD  CONSTRAINT [FK_TABGame_TABAdmin] FOREIGN KEY([ID_ADMIN_FK])
REFERENCES [dbo].[TABAdmin] ([ID])
GO
ALTER TABLE [dbo].[TABGame] CHECK CONSTRAINT [FK_TABGame_TABAdmin]
GO
ALTER TABLE [dbo].[TABGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABGameObject_TABCategory] FOREIGN KEY([ID_CATEGORY_FK])
REFERENCES [dbo].[TABCategory] ([ID])
GO
ALTER TABLE [dbo].[TABGameObject] CHECK CONSTRAINT [FK_TABGameObject_TABCategory]
GO
ALTER TABLE [dbo].[TABGenerate]  WITH CHECK ADD  CONSTRAINT [FK_TABGenerate_TABGameObject] FOREIGN KEY([ID_GAME_OBJECT_FK])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABGenerate] CHECK CONSTRAINT [FK_TABGenerate_TABGameObject]
GO
ALTER TABLE [dbo].[TABGenerate]  WITH CHECK ADD  CONSTRAINT [FK_TABGenerate_TABResource] FOREIGN KEY([ID_RESOURCE_FK])
REFERENCES [dbo].[TABResource] ([ID])
GO
ALTER TABLE [dbo].[TABGenerate] CHECK CONSTRAINT [FK_TABGenerate_TABResource]
GO
ALTER TABLE [dbo].[TABGroup]  WITH CHECK ADD  CONSTRAINT [FK_TABGroup_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABGroup] CHECK CONSTRAINT [FK_TABGroup_TABGame]
GO
ALTER TABLE [dbo].[TABGroupMessage]  WITH CHECK ADD  CONSTRAINT [FK_TABGroupMessage_TABGroup] FOREIGN KEY([ID_GROUP_FK])
REFERENCES [dbo].[TABGroup] ([ID])
GO
ALTER TABLE [dbo].[TABGroupMessage] CHECK CONSTRAINT [FK_TABGroupMessage_TABGroup]
GO
ALTER TABLE [dbo].[TABGroupMessage]  WITH CHECK ADD  CONSTRAINT [FK_TABGroupMessage_TABPlayer] FOREIGN KEY([ID_PLAYER_FK])
REFERENCES [dbo].[TABPlayer] ([ID])
GO
ALTER TABLE [dbo].[TABGroupMessage] CHECK CONSTRAINT [FK_TABGroupMessage_TABPlayer]
GO
ALTER TABLE [dbo].[TABGroupPlayer]  WITH CHECK ADD  CONSTRAINT [FK_TABGroupPlayer_TABGroup] FOREIGN KEY([ID_GROUP_FK])
REFERENCES [dbo].[TABGroup] ([ID])
GO
ALTER TABLE [dbo].[TABGroupPlayer] CHECK CONSTRAINT [FK_TABGroupPlayer_TABGroup]
GO
ALTER TABLE [dbo].[TABGroupPlayer]  WITH CHECK ADD  CONSTRAINT [FK_TABGroupPlayer_TABPlayer] FOREIGN KEY([ID_PLAYER_FK])
REFERENCES [dbo].[TABPlayer] ([ID])
GO
ALTER TABLE [dbo].[TABGroupPlayer] CHECK CONSTRAINT [FK_TABGroupPlayer_TABPlayer]
GO
ALTER TABLE [dbo].[TABHoldGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABHoldGameObject_TABEvent] FOREIGN KEY([ID_EVENT_FK])
REFERENCES [dbo].[TABEvent] ([ID])
GO
ALTER TABLE [dbo].[TABHoldGameObject] CHECK CONSTRAINT [FK_TABHoldGameObject_TABEvent]
GO
ALTER TABLE [dbo].[TABHoldGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABHoldGameObject_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT_FK])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABHoldGameObject] CHECK CONSTRAINT [FK_TABHoldGameObject_TABGameObject]
GO
ALTER TABLE [dbo].[TABInitialGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABInitialGameObject_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABInitialGameObject] CHECK CONSTRAINT [FK_TABInitialGameObject_TABGame]
GO
ALTER TABLE [dbo].[TABInitialGameObject]  WITH CHECK ADD  CONSTRAINT [FK_TABInitialGameObject_TABGameObject] FOREIGN KEY([ID_GAMEOBJECT_FK])
REFERENCES [dbo].[TABGameObject] ([ID])
GO
ALTER TABLE [dbo].[TABInitialGameObject] CHECK CONSTRAINT [FK_TABInitialGameObject_TABGameObject]
GO
ALTER TABLE [dbo].[TABInitialResource]  WITH CHECK ADD  CONSTRAINT [FK_TABInitialResource_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABInitialResource] CHECK CONSTRAINT [FK_TABInitialResource_TABGame]
GO
ALTER TABLE [dbo].[TABInitialResource]  WITH CHECK ADD  CONSTRAINT [FK_TABInitialResource_TABResource] FOREIGN KEY([ID_RESOURCE_FK])
REFERENCES [dbo].[TABResource] ([ID])
GO
ALTER TABLE [dbo].[TABInitialResource] CHECK CONSTRAINT [FK_TABInitialResource_TABResource]
GO
ALTER TABLE [dbo].[TABNotification]  WITH CHECK ADD  CONSTRAINT [FK_TABNotification_TABPlayer] FOREIGN KEY([ID_PLAYER_FK])
REFERENCES [dbo].[TABPlayer] ([ID])
GO
ALTER TABLE [dbo].[TABNotification] CHECK CONSTRAINT [FK_TABNotification_TABPlayer]
GO
ALTER TABLE [dbo].[TABPlayer]  WITH CHECK ADD  CONSTRAINT [FK_TABPlayer_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABPlayer] CHECK CONSTRAINT [FK_TABPlayer_TABGame]
GO
ALTER TABLE [dbo].[TABResource]  WITH CHECK ADD  CONSTRAINT [FK_TABResource_TABGame] FOREIGN KEY([ID_GAME_FK])
REFERENCES [dbo].[TABGame] ([ID])
GO
ALTER TABLE [dbo].[TABResource] CHECK CONSTRAINT [FK_TABResource_TABGame]
GO
CREATE TRIGGER [InsertAdmin] 
ON [dbo].[AspNetUsers] 
FOR INSERT
AS 
BEGIN
 
SET NOCOUNT ON;
 
INSERT INTO [dbo].[TABAdmin] 
(ID,Nick,Pass,Email,Picture)
 
SELECT Id,UserName,Email,Email,UserName
FROM INSERTED 
 
END
GO
USE [master]
GO